__pycache__/
widgets/__pycache__/
__pycache__/DataEventController.cpython-38.pyc
*.pyc
widgets/__pycache__/Controls.cpython-38.pyc
__pycache__/DataEventController.cpython-38.pyc
widgets/__pycache__/Controls.cpython-38.pyc
